fastapi
uvicorn
pydantic
python-dotenv
requests
groq
fpdf2
ddgs
pinecone
supabase
PyPDF2
python-multipart
langgraph
langchain-groq
langchain-core
langsmith
langchain-google-genai
langchain-openai
langchain-community
duckduckgo-search
